/target/
/mongo-data
/target/
/mongo-data/
mongo-data/
##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*
/target/
/bin/
**/target*
