name: Mutation Testing with Pitest

on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'  # Runs every day at midnight UTC

jobs:
  mutation-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven
      - name: Build with Maven
        run: |
          xvfb-run mvn verify -Pmutation-testing
          xvfb-run mvn org.pitest:pitest-maven:1.16.1:mutationCoverage \
            -Dpitest.excludedClasses=com.boracompany.airplanes.repository.mongo.AirplaneMongoRepository \
            -Dpitest.excludedMethods=com.boracompany.airplanes.repository.mongo.AirplaneMongoRepository.findAll
        working-directory: com.boracompany.airplanes

      - name: Archive Mutation Test Report
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: pitest-report
          path: com.boracompany.airplanes/target/pit-reports/**/*

      - name: Deploy Pitest Report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.PAGES_AUTH_KEY}}
          publish_dir: com.boracompany.airplanes/target/pit-reports
          publish_branch: gh-pages